body::before {
  display: block;
  content: "";
  height: 65px;
}

@media (min-width: 768px) {
  .newsletter-input {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .map {
    height: 250px;
  }
}
